/**
 * 固定背景
 */
body {
  background: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/**
 * 居中外包围框
 */
.container {
  width: 960px;
  margin: 0 auto;
}

/**
 * 实现头部容器
 */
.main-header {
  background-image: url(../img/banner.jpg);
  text-align: center;
}
/**
 * 设置头像 img
 */
.main-header__avatar {
  display: block; /* 设为 block */
  margin: 0 auto; /* 居中，为什么 .main_header 中的 text-align:center 没有对头像生效？*/

  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2); /* 为头像设置阴影 */
  border-radius: 999px; /* 头像变成圆形，为什么是 999px ?? */
  /* 答案在这里：https://github.com/yisibl/blog/issues/2 */
}
/**
 * 设定标题字体
 */
.main-header h1 {
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: #ffffff; /* white */
}

