/**
 * 固定背景
 */
body {
  background: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/**
 * 居中外包围框
 */
.container {
  width: 960px;
  margin: 0 auto;
}

/**
 * 实现头部容器
 */
.main-header {
  background-image: url(../img/banner.jpg);
  text-align: center;
}
/**
 * 头像 img 设为 block
 */
.main-header__avatar {
  display: block;
  margin: 0 auto;
}
/**
 * 设定标题字体
 */
.main-header h1 {
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: #ffffff; /* white */
}

